version: "3.8"

services:
  app:
    build: .
    env_flie:
      - .env
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: ${MONGO_URI}
      ADMIN_SECRET: "admin_secret"
    depends_on:
      - mongo
  
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: