@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: 248 250 252;
  --color-card: 255 255 255;
  --color-text: 15 23 42;
  --color-primary: 37 99 235;
  --color-primary-dar: 30 64 175;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-text));
  font-family: Arial, Helvetica, sans-serif;
}
